/FreeCAD to OpenEMS Export Plugin Tutorial - Planar Filter Design/tmp
/experiment_2/Inverted_F_antenna_settings
/experiment_2/Inverted_F_antenna_settings_QUICK_2airCubes
/experiment_2/Inverted_F_antenna_settings_QUICK_normalAirBox
/Helical Antenna/tmp
/Inverted F Antenna/tmp
/Microstrip Example 1/coaxial_simulation_1_openEMS_simulation/tmp
/Microstrip Example 1/coplanar_simulation_1_openEMS_simulation/tmp
/Microstrip Example 1/microstrip_simulation_1_openEMS_simulation/tmp
/Planar Filter Design/tmp
dipole_simulation
